*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(210, 231, 19, 0.5);
}
#convertor{
   height: 370px;
   width: 450px;
  margin: 2rem;
  padding: 1rem;
   border-radius: 2rem;
    background-color: rgb(247, 243, 246);
    color: rgb(15, 14, 5);
    justify-content: space-evenly;
}
.dropdown{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    

}
input,select,button{
    width: 100%;
    border: none;
    margin: 0.5rem;
    font-size: 0.9rem;
    padding: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
}
form{
    margin: 2rem;
    padding: 0.75rem;
    align-items: center;
    
}
button{
    background-color: rgb(221, 120, 196);
}